body {
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(219, 103, 192);
    padding: 20px;
    margin: 0;
}

.verden {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: 10px;
    gap: 20px;
}

.item {
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #fff;
}

.item:hover {
    transform: translateY(-8px);
}

img {
    max-width: 100%;
    border-radius: 10px;
    max-height: 100%;
}

.item1 { grid-row: span 15; background-color: #fe958b; }
.item2 { 
    grid-row: span 20; 
    background-color: #f1b1ff; 
    text-align: center; 
    font-size: 25px;
    flex-direction: column;
}
.item3 { grid-row: span 10; background-color: #a9e373; }
.item4 { 
    grid-row: span 25; 
    background-color: #d65076;
    text-align: center;
    flex-direction: column;
}
.item5 { 
    grid-row: span 30; 
    background-color: #f1ed73;
    text-align: center;
}
.item6 { grid-row: span 15; background-color: #6cd5cb; }
.item7 { grid-row: span 20; background-color: #e94b3c; }
.item8 { grid-row: span 10; background-color: #c0a8d4; }
.item9 { grid-row: span 25; background-color: #5db595; }
.item10 { grid-row: span 30; background-color: #b565a7;}


